name: Release - Python Package

on:
  release:
    types: [published]

jobs:
  build-n-release:
    name: Build wheels on ${{ matrix.os }}
    permissions:
      id-token: write
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Build package
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_dev.txt
          python -m build
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
