name: Release - Python Package

on:
  release:
    types: [published]

jobs:
  build-n-release:
    name: Build wheels on ubuntu-latest
    permissions:
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Upgrade pip (required as --group was introduced in pip 25.1.0)
        run: |
          pip install --upgrade pip
      - name: Install dependencies
        run: |
          pip install -e . --group dev
      - name: Build package
        run: |
          python -m build --wheel
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
